asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
crayons==0.4.0
dj-database-url==0.5.0
Django==3.1.7
django-appconf==1.0.4
django-bank==0.1.0
django-filter==2.4.0
gunicorn==20.1.0
idna==2.10
Pillow==8.1.2
pinax-cli==1.1.4
pinax-referrals==4.0.1
psycopg2==2.9.1
python-dotenv==0.18.0
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.4
whitenoise==5.2.0
