{% extends 'blog/base.html' %}
{% load static %}



{% block content %}

    <div id="wrapper">


        <section class="about-section">
            <div class="about-section-container">
                <div class="mission ab-box">
                    <h1>Mission</h1>
                    <p>
                        Our mission is to provide integrated psychological and counseling services that merge the principles of psychology and spirituality.
                        We are comminted to offering practical and spititual guidance to individuals, families, and communities, fostering mental, emotional, an spiritual growth, and
                        facilitating their journey to wholeness.
                    </p>
                </div>

                <div class="vision ab-box">
                    <h1>Vision</h1>
                    <p>
                        Our Vision is to be a beacon of hope, empowerment, and healing in a world confronted with emotional and psychological challenges. We aspire to btidge the gap 
                        between psychological well-being and spriritual growth, offering transformative solutions that lead to restored lives and communities.
                    </p>
                </div>
            </div>
        </section>

        

    </div>

    {% endblock %}