{% extends 'blog/base.html' %}
{% load static %}



{% block content %}
    
    
<section style="position: relative; top: 40px; min-height: 100vh; width: 80%; padding: 3% 0; margin: auto; z-index: 5" class="abt-me-sec">
    
    <div style="width: 70%;">
        
        <h1 style="font-size: 40px;">Vicarious Trauma</h1>
        
        <p style="font-size: 20px;">
            Vicarious trauma (VT) and Secondary Traumatic Stress (STS) are frequently used interchangeably to refer to the indirect trauma that can occur when we are exposed to difficult or disturbing images and stories second-hand. vicarious trauma is “indirect exposure to a traumatic event through firsthand account or narrative of that event.”
            This can occur by viewing crime scene evidence or graphic news reports, frightening television shows and various other media, hearing a detailed traumatic story from another person, , working in a court room, attending a debriefing or a conference where disturbing images are described and many other ways in which we can be indirectly affected by the content or visuals of some other living creature’s suffering.
        </p>
        
        
        <h1 style="font-size: 40px;">Vicarious Traumatization</h1>
        
        <p style="font-size: 20px;">
            The term vicarious traumatization (VT) was coined by Pearlman & Saakvitne (1995) to describe the profound shift in world view that occurs in helping professionals when they work with individuals who have experienced trauma: helpers notice that their essential beliefs about the world are altered and possibly damaged by being repeatedly exposed to traumatic material. A domestic violence shelter worker may stop being able to believe that any relationship can be healthy. A child abuse investigator may lose trust in anyone who approaches their child.<br>
             
            Secondary Traumatic Stress (STS) is a concept that was developed by trauma specialists Beth Stamm, Charles Figley and others in the early 1990s as they sought to understand why service providers seemed to be exhibiting symptoms similar to Post Traumatic Stress Disorder (PTSD) without having necessarily been exposed to direct trauma themselves.<br>
            
            
            VT/STS can occur in professionals who work in high-stress and trauma-exposed fields (e.g, prosecutors, judges, therapists, health care professionals, many others) but it can also affect civilians who do not work in high-trauma fields but are deeply impacted by stories that they are exposed to (maybe graphic news accounts, a friend sharing details of a traumatic event they experienced, again, there are many examples of ways in which this may occur.

        </p>
        
        <h1 style="font-size: 40px;">Direct Trauma</h1>
        
        <p style="font-size: 20px;">
            Direct trauma, in contrast, refers to a traumatic event that occurs directly to us. A paramedic who is called to a catastrophic car accident may have direct trauma as a result of what he/she sees at the crash site. The person in the car may also experience a direct trauma experience. Individuals who hear details of the crash after the fact, or see it on the news may have indirect trauma exposure as a result
        </p>
        
        
        <h1 style="font-size: 40px;">How to Identify Vicarious Trauma</h1>
        
        
            
            <ul style="font-size: 20px;">
               <li>Symptoms of vicarious trauma can be divided into five categories</li>
               <ul>
                   <li>Emotional symptoms: Persistent feelings of grief, anxiety and sadness; irritability and anger; being easily distracted; changes in mood or sense of humor; feeling isolated; and feeling unsafe</li>
                   
                   <li>Behavioral symptoms: Increased drinking and substance abuse; changes in eating and sleeping habits; risky behavior; avoiding people or favorite activities; and failing to separate work life from personal life</li>
                   
                   <li>Physiological symptoms: Increased incidence of headaches, rashes, ulcers, heartburn, and other signs of physical illness</li>
                   
                   <li>Cognitive symptoms: Increased cynicism and negativity; inability to concentrate and make decisions; memory problems; inability to stop thinking about the trauma others have experienced</li>
                   
                   <li>Spiritual symptoms: Loss of hope or sense of purpose; feeling disconnected from others and the world in general; feeling unworthy or undeserving of love</li>
               </ul>
                
            </ul>
            
        <h1 style="font-size: 40px;">Management</h1>
          <ul style="font-size: 20px;">
             <li>There're various ways of managing Trouma which include</li>
             <ul>
               <li>Having strong personal and professional support networks</li>
               <li>Vicarious Trauma Toolkit</li>
               <li>Screening programs</li>
           </ul>
              
          </ul>    
        
        
    </div>
    
</section>
    
    
{% endblock %}